---
name: CI

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '**.md'
  push:
    branches:
      - master
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '**.md'

jobs:
  build:
    name: Test Runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Build Docker Image
        run: docker build -f Dockerfile -t generic-test-runner .

      - name: Test docker image contents
        run: docker run -w "/opt/test-runner/bin" --entrypoint "ls" generic-test-runner

      - name: Run Tests
        run: docker run -w "/opt/test-runner" --entrypoint "bin/run-all.sh" generic-test-runner
